<ul class="blog-list-view grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-20 gap-x-10">
  {% for article in articleslist limit: limit_count %}

    {% if skipself %}
      {% if article.title == skiptitle %}
        {% continue %}
      {% endif %}
    {% endif %}

    <li
      class=""
      data-aos="fade-up"
      data-aos-delay="50">
      <div class="article-listing h-full relative flex flex-col">
        <div class="graphic-part">

          <div id="{{ img_wrapper_id }}" class="js bg-sky-500">
            <a href="{{ article.url }}" class="relative h-[300px] block mb-8">
              <img
                id="{{ img_id }}"
                class="lazyload object-cover w-full h-full hover:opacity-80 transition"
                src="{{ article.image | img_url: '300x300' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ article.image.aspect_ratio }}"
                data-sizes="auto"
                alt="">
            </a>
          </div>

        </div>
        <div class="text-part flex flex-col items-between flex-1">
          <div class="flex-1 mb-10">
            <h2 class="article__title normal-case font-semibold tracking-normal">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>
            {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_show_date %}
              <span class="article__date">
                {{ article.published_at | time_tag: format: 'date' }}
              </span>
            {% endif %}

            <div class="rte">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 200 }}
              {% endif %}
            </div>

            {% #  if article.tags.size > 0 %}
            <!--
              <div class="article__tags article__tags--list rte">
              {{ 'blogs.article.posted_in' | t }}
              {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              {% unless forloop.last %},
              {% endunless %}
              {% endfor %}
              </div>
            -->
            {% #  endif %}
          </div>
          <div>
            <ul class="list--inline article__meta-buttons">
              <li>
                <a
                  href="{{ article.url }}"
                  class="btn btn--tertiary btn--small"
                  aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>

              {% if blog.comments_enabled? and article.comments_count > 0 %}
                <li>
                  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                    {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>