{% comment %}
  Renders a product card using "Grid" style
  Accepts:
  - max_height: {Number} Maximum height of the product's image (required)
  - product: {Object} Product Liquid object (required)
  - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

  Usage:
  {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card flex flex-col">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  <div class="flex flex-col justify-between h-full content-between space-y-10">

    <div>
      <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
        <div class="product-card_background" style="background:url({{ preview_image | img_url: 'master' }})"></div>
      </div>

      <noscript>
        {% capture image_size %}
          {{ max_height }}x{{ max_height }}{% endcapture %}
        <img
          class="grid-view-item__image"
          src="{{ preview_image | img_url: image_size, scale: 2 }}"
          alt="{{ preview_image.alt }}"
          style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
      </noscript>
    </div>

    <div class="flex flex-col space-y-6">

      {% if show_vendor and product %}
        <div class="price__vendor price__vendor--listing">
          <dt>
            <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
          </dt>
          <p>
            {{ product.vendor }}
          </p>
        </div>
      {% endif %}
      <p class="product-vendor">{{ product.type }}</p>
      <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

      {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
    </div>

  </div>
</div>