{% paginate blog.articles by 12 %}

  <header class="page-title">
    <h1>{{ page_title }}</h1>

    {% #  if blog.tags.size > 0 %}
    <!--
      <div
      class="blog-filter">
      <label
      class="blog-filter__label select-label"
      for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
      <div
      class="select-group">
      <select
      id="BlogTagFilter"
      aria-describedby="a11y-refresh-page-message a11y-selection-message">
      <option
      value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
      {% for tag in blog.all_tags %}
      <option
      value="{{ blog.url }}/tagged/{{ tag | handleize }}"
      {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
      {% endfor %}
      </select>
      {% include 'icon-chevron-down' %}
      </div>
      </div>
    -->
    {% # endif %}
  </header>

  <ul class="blog-list-view page-width grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-20 gap-x-10">
    {% for article in blog.articles %}
      <li
        class=""
        data-aos="fade-up"
        data-aos-delay="50">
        <div class="article-listing h-full relative flex flex-col">
          <div class="graphic-part">

            <div id="{{ img_wrapper_id }}" class="js bg-sky-500">
              <a href="{{ article.url }}" class="relative h-[300px] block mb-8">
                <img
                  id="{{ img_id }}"
                  class="lazyload object-cover w-full h-full hover:opacity-80 transition"
                  src="{{ article.image | img_url: '300x300' }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="">
              </a>
            </div>

          </div>
          <div class="text-part flex flex-col items-between flex-1">
            <div class="flex-1 mb-10">
              <h2 class="article__title normal-case font-semibold tracking-normal">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>
              {% if section.settings.blog_show_author %}
                <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}

              {% if section.settings.blog_show_date %}
                <span class="article__date">
                  {{ article.published_at | time_tag: format: 'date' }}
                </span>
              {% endif %}

              <div class="rte">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  {{ article.content | strip_html | truncate: 200 }}
                {% endif %}
              </div>

              {% if article.tags.size > 0 %}
                <div class="article__tags article__tags--list rte">
                  {{ 'blogs.article.posted_in' | t }}
                  {% for tag in article.tags %}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                    {% unless forloop.last %},
                    {% endunless %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div>
              <ul class="list--inline article__meta-buttons">
                <li>
                  <a
                    href="{{ article.url }}"
                    class="btn btn--tertiary btn--small"
                    aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                    {{ 'blogs.article.read_more' | t }}
                  </a>
                </li>

                {% if blog.comments_enabled? and article.comments_count > 0 %}
                  <li>
                    <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>


  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}

{% endpaginate %}

{% schema %}
  {
    "name": {
      "en": "Blog pages"
    },
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": {
          "en": "Layout"
        },
        "default": "list",
        "options": [
          {
            "value": "grid",
            "label": {
              "en": "Grid"
            }
          }, {
            "value": "list",
            "label": {
              "en": "List"
            }
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": {
          "en": "Show author"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": {
          "en": "Show date"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "SKINCARE ESSENTIALS"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}


<script>
  $(document).ready(function() {

    //     $('.product-list').slick({
    //       infinite: true,
    //       slidesToShow: 4,
    //       slidesToScroll: 1,
    //       dots:true,
    //       arrows:true,
    // //       centerMode: true,
    //       centerPadding: '60px',
    //       prevArrow: '<i class="fas fa-arrow-left"></i>',
    //       nextArrow: '<i class="fas fa-arrow-right"></i>',
    //       responsive: [
    //         {
    //           breakpoint: 1024,
    //           settings: {
    //             slidesToShow: 3,
    //             slidesToScroll: 1
    //           }
    //         },
    //         {
    //           breakpoint: 767,
    //           settings: {
    //             slidesToShow: 2,
    //             slidesToScroll: 1
    //           }
    //         },
    //         {
    //           breakpoint: 480,
    //           settings: {
    //             slidesToShow: 1,
    //             slidesToScroll: 1
    //           }
    //         }
    //       ]
    //     });

    $('.product-block').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      dots: true,
      arrows: true,
      centerPadding: '60px',
      prevArrow: '<i class="fas fa-arrow-left"></i>',
      nextArrow: '<i class="fas fa-arrow-right"></i>',
      responsive: [
        {
          breakpoint: 1440,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        }, {
          breakpoint: 1200,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }, {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            arrows: false
          }
        }, {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            arrows: true
          }
        }
      ]
    });

  })
</script>