<div class="page-width feature-row !mb-24">
  {% for block in section.blocks %}
    <div class="block-{{ forloop.index }} block-content-wrapper">
      <div class="block-wrapper">
        <div class="image-part medium-up--one-half">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}">
          {% endif %}
          {% if block.settings.video_block != blank %}
            <iframe
              src='{{ block.settings.video_block }}'
              frameborder='0'
              allowfullscreen></iframe>
          {% endif %}
        </div>
        <div class="text-part medium-up--one-half">
          <h1>{{ block.settings.title }}</h1>
          <p>
            <span class="quote-icon">{% include 'icon-quote' %}</span>{% comment %}<i class="fas fa-quote-left"></i>{% endcomment %}{{ block.settings.empower_text }}</p>
          <h2>{{ block.settings.author }}</h2>
          {% if block.settings.link != blank %}
            <a class="btn shop_btn" href="{{ block.settings.link }}">READ MORE</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": {
      "en": "Image with text"
    },
    "class": "community-image-text-section",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "video_block",
            "label": "Youtube Video URL",
            "default": "Youtube Video URL"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "We seek to empower women"
          },
          {
            "type": "textarea",
            "id": "empower_text",
            "label": "Copy"
          }, {
            "type": "text",
            "id": "author",
            "label": "Author Name",
            "default": "PATRICIA MURPHY"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ]
  }
{% endschema %}