<div class="june_services  lazy-bg"  data-aos="fade-up" data-aos-delay="50">
  <div class="service_container">
    <h3>{{ section.settings.title }}</h3>
    <div class="left_content">
      <p>{{ section.settings.summary }}</p>
      <div class="tabs">
        <div class="tab_title">
          <p data-id="content_1" class="active">FACE</p>
          <p data-id="content_2">BODY</p>
          <p data-id="content_3">HAIR</p>
        </div>
        <div class="tab_content">
          {% for block in section.blocks %}
            {% if block.settings.type == 'face' %}
            <div class="tab_content-wrapper" data-id="content_1">
              <a data-image="{{ block.settings.service_image | img_url: '1000x1000' }}" data-title="{{ block.settings.overlay_title }}" data-content="{{ block.settings.overlay_cont }}"></a>
              {{ block.settings.tag_name }}
              <i class="fa fa-caret-down" style="font-size:24px"></i>
            </div>
            {% elsif block.settings.type == 'body' %}
            <div class="tab_content-wrapper" data-id="content_2">
              <a data-image="{{ block.settings.service_image | img_url: '1000x1000' }}" data-title="{{ block.settings.overlay_title }}" data-content="{{ block.settings.overlay_cont }}"></a>
              {{ block.settings.tag_name }}
              <i class="fa fa-caret-down" style="font-size:24px"></i>
            </div>
            {% else %}
            <div class="tab_content-wrapper" data-id="content_3">
              <a data-image="{{ block.settings.service_image | img_url: '1000x1000' }}" data-title="{{ block.settings.overlay_title }}" data-content="{{ block.settings.overlay_cont }}"></a>
              {{ block.settings.tag_name }}
              <i class="fa fa-caret-down" style="font-size:24px"></i>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
<!--    tabs for mobile    -->
      <div class="tabs-mobile">
        <div class="tab_title-mobile">
          <p data-id="content_1" class="active">FACE</p>
          <p data-id="content_2">BODY</p>
          <p data-id="content_3">HAIR</p>
        </div>        
        <div class="tab_content-mobile">          
          {% for block in section.blocks %}
            {% if block.settings.type == 'face' %}
            <div class="tab_content-wrapper-mobile" data-id="content_1">
              <a data-image="{{ block.settings.service_image | img_url: '1000x1000' }}" data-title="{{ block.settings.overlay_title }}" data-content="{{ block.settings.overlay_cont }}"></a>
              {{ block.settings.tag_name }}              
            </div>
            {% elsif block.settings.type == 'body' %}
            <div class="tab_content-wrapper-mobile" data-id="content_2">
              <a data-image="{{ block.settings.service_image | img_url: '1000x1000' }}" data-title="{{ block.settings.overlay_title }}" data-content="{{ block.settings.overlay_cont }}"></a>
              {{ block.settings.tag_name }}
            </div>
            {% else %}
            <div class="tab_content-wrapper-mobile" data-id="content_3">
              <a data-image="{{ block.settings.service_image | img_url: '1000x1000' }}" data-title="{{ block.settings.overlay_title }}" data-content="{{ block.settings.overlay_cont }}"></a>
              {{ block.settings.tag_name }}
            </div>
            {% endif %}
          {% endfor %}  
          <i class="fa fa-caret-down" style="font-size:24px"></i>
        </div>
      </div>
      
    </div>
    <div class="right_image">
      <img loading="lazy" src="" style="width:100%;height:100%;object-fit:cover" />
      <div class="overlay">
        <h3></h3>
        <p></p>
      </div>
    </div>
    
    <div class="overlay" style="display: none;">
      <h3></h3>
      <p></p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "June Services",
    "settings": [
    {
          "type": "text",
          "id": "title",
          "label": "Section Title"
        },
    {
          "type": "html",
          "id": "summary",
          "label": "Summary"
        }
  ],
  "blocks": [ 
    
    {
    "type": "text",
    "name": "services", 
    "settings": [
      {
              "type": "radio",
              "id": "type",
              "label": "Service Category",
              "default": "face",
              "options": [
                {
                  "value": "face",
                  "label": "Face"
                },
                {
                  "value": "body",
                  "label": "Body"
                },
                {
                  "value": "hair",
                  "label": "Hair"
                }
              ]
            },
            {
                "type": "image_picker",
                "id": "service_image",
                "label": "service_image"
            },
      {
        "type": "text",
        "id": "tag_name",
        "label": "Tag name"
      },
      {
        "type": "text",
        "id": "overlay_title",
        "label": "Overlay Title"
      },
      {
        "type": "text",
        "id": "overlay_cont",
        "label": "Overlay Content"
      }
    ]
    }
  ],
  "presets": [
    {
      "name": "June Services"
    }
  ]
  }
{% endschema %}