<div class="image_with_text1"  data-aos="fade-up">
  <div class="page-width">
    <div class="left_content">
      <h3>{{ section.settings.title }}</h3>
      <p>{{ section.settings.summary }}</p>
      {% if section.settings.button1_text %}
      <a href="{{ section.settings.button1_url }}">{{ section.settings.button1_text }}</a>
      {% endif %}
      {% if section.settings.button2_text %}
      <a href="{{ section.settings.button2_url }}">{{ section.settings.button2_text }}</a>
      {% endif %}
    </div>
    <div class="right_image">
      <img src="{{ section.settings.image | img_url: '700x700' }}" alt="{{ section.settings.title }}">
    </div>
    
  </div>
</div>

{% schema %}
  {
    "name": "June Image-text right",
    "settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Left Image"
		},
		{
          "type": "text",
          "id": "title",
          "label": "Section Title"
        },
		{
          "type": "html",
          "id": "summary",
          "label": "Summary"
        },
		{ 
			"type": "text",
			"id": "button1_text",
			"label": "Button1 Text"
		},
		{
          "type": "text",
          "id": "button1_url",
          "label": "Button1 Url"
        },
		{ 
			"type": "text",
			"id": "button2_text",
			"label": "Button2 Text"
		},
		{
          "type": "text",
          "id": "button2_url",
          "label": "Button2 Url"
        }
	],
	"presets": [
		{
			"name": "June Image-text right"
		}
	]
  }
{% endschema %}
