<section data-section-id="{{ section.id }}">
  	<div class="press-listing">
        <div class="page-width">
            {% for block in section.blocks %}          
                <div class="blog_item" data-aos="fade-up">
                    <div class="post_image">
                      {% if block.settings.press_article_image != blank %}
                      <img    
                           class="lazyload"
                           src="{{ block.settings.press_article_image | img_url: '670x430' }}"
                           loading="lazy"
                           alt="">
                      {% else %}
                        <img class="lazyload" loading="lazy" src="{{ 'default.jpg' | asset_url }}" />
                      {% endif %}
                    </div>
                    <div class="post_content">
                      <a target="_blank" rel="noopener noreferrer" href="{{ block.settings.press_article_button_url }}" class="article__link">
                        <h3 class="article__title">
                          {{ block.settings.press_article_title }}
                        </h3>
                      </a>

                      {% if block.settings.press_article_caption != blank %}
                      <div class="summary">
                        {{ block.settings.press_article_caption }}
                      </div>
                      {% endif %}

                      {% if block.settings.press_article_button_text != blank %}
                      <a target="_blank" rel="noopener noreferrer" class="button" href="{{ block.settings.press_article_button_url }}" aria-label="{{ block.settings.press_article_title }}" title="Go to website">
                        {{ block.settings.press_article_button_text }}
                      </a>
                      {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
  	</div>
</section>

{% schema %}
  {
    "name": "Press Listings",
    "settings": [
    ],
    "presets": [
      {
        "name": "Press Article",
        "category": "Press",
        "blocks":[
          {
            "type": "image"
          }
        ]
      }
    ],
    "blocks" : [
      {
        "type": "image",
        "name": "Image",
        "settings": [
		  {
            "type": "image_picker",
            "id": "press_article_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "press_article_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "press_article_caption",
            "label": "Caption"
          },
          {
            "type": "text",
            "id": "press_article_button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "press_article_button_url",
            "label": "Button URL"
          }
        ]
      }
    ]
  }
{% endschema %}

