<div class="page-width contact-us">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>



		<div class="container m-auto border-none">

		<div class="grid grid-cols-1 md:grid-cols-2 gap-20">

		<div class="bg-neutral-100 p-10"><h4>Contact Information</h4></div>
		<div>
			
      {%- assign formId = 'ContactForm' -%}
      {% form 'contact', id: formId %}
        {% include 'form-status', form: form, form_id: formId %}

        <div class="w-full">
          <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
          <input
            type="text"
            class="w-full shadow-sm text-base py-2 px-4 mb-6"
            id="{{ formId }}-name"
            name="contact[{{ 'contact.form.name' | t }}]"
            value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="">
          <label for="{{ formId }}-email">{{ 'contact.form.email' | t }}
            <span aria-hidden="true">*</span>
          </label>
          <input
            type="email"
            class="w-full shadow-sm text-base py-2 px-4 mb-6"
            id="{{ formId }}-email"
            name="contact[email]"
            autocorrect="off"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
            class="input--error"
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            {%- endif -%}>
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }}
              </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}
        </div>

      <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
      <input
        type="tel"
        class="w-full shadow-sm text-base py-2 px-4 mb-6"
        id="{{ formId }}-phone"
        name="contact[{{ 'contact.form.phone' | t }}]"
        pattern="[0-9\-]*"
        value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

      <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
      <textarea
        rows="10"
        class="w-full shadow-sm text-base py-2 px-4 mb-6"
        id="{{ formId }}-message"
        name="contact[{{ 'contact.form.message' | t }}]">
        {% if form.body %}
          {{ form.body }}{% endif %}
      </textarea>

      <input
        type="submit"
        class="btn bg-sky-600"
        value="{{ 'contact.form.submit' | t }}">

    {% endform %}


		</div>


		</div>


		</div>






    <div class="contact-content-wrapper">
      <div class="left-widget ">
        <p class="sub-title">find us</p>
        <p class="contact-content">
          Our office is located at Highland Park West, which is a brown brick building just west of the Dallas Tollway, south of Bordeaux Avenue but north of Lemmon Avenue.
        </p>
        <p class="contact-content">
          Please park in the north parking lot which is the parking lot with green awnings. 
          Please feel free to park in any unreserved parking spot. When you enter the building, our office will be the first suite on your left.
        </p>
        <div class="about-flora">
          <p class="sub-title">flora kim dermatology</p>
          <p class="contact-content">
            4300 MacArthur Avenue, Suite 100 <br>
            Highland Park, Texas 75209
          </p>
          <p class="contact-item">
            <span class="individual"><img src="{{ 'clock.png' | asset_url }}"></span>Monday-Friday | 8:30am - 4pm</p>
          <a class="contact-item" href="tel:214-521-1900">
            <span class="individual"><img src="{{ 'phone.png' | asset_url }}"></span>214.521.1900</a>
          <!--             <p class="contact-item"><span class="individual"><img src="{{ 'communications.png' | asset_url }}"></span>214.521.1902</p> -->
        </div>
      </div>
      <div class="right-widget ">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.8462823348978!2d-96.81928128481678!3d32.82283768095816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9ebef77a0191%3A0x2ee8fadf0b14c169!2s4300%20MacArthur%20Ave%20%23100%2C%20Dallas%2C%20TX%2075209!5e0!3m2!1sen!2sus!4v1593446269094!5m2!1sen!2sus"
          width="600"
          height="450"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>

    {% if page.content.size > 0 %}
      <div class="rte">
        {{ page.content }}
      </div>
    {% endif %}


  </div>
</div>